<h2>Food List</h2>
<div class="table-responsive">
  <table class="table table-striped align-middle">
      <thead>
          <tr>
              <th>Image</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let food of foods">
              <td>
                  <img [src]="food.imageUrl" alt="{{ food.name }}" width="100" class="rounded object-fit-cover" />
              </td>
              <td class="text-nowrap">{{ food.name }}</td>
              <td style="min-width: 220px;">{{ food.description }}</td>
              <td class="text-nowrap">${{ food.price }}</td>
              <td>
                  <button class="btn btn-primary btn-sm w-100 w-md-auto" [routerLink]="['/foods', food.id]">View Details</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
